.Header {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 7rem;
  width: 100vw;
  height: 65px;
  position: fixed;
  display: flex;
  text-align: center;
  cursor: pointer;
  background-color: black;
}
.logo {
  width: 20vw;
  height: 65px;
}
.menu {
  width: 20vw;
  text-decoration: none;
}
.menu:hover {
  color: black;
}
.about_menu:hover {
  color: #09fbd3;
}
.skil_menu:hover {
  color:  #f5d300;
}
.work_menu:hover {
  color: #ccff33;
}
.contact_menu:hover {
  color: #fe53bb;
}
a:link,
a:visited,
a:active {
  color: white;
}
