.open_window:link,
.open_window:visited,
.open_window:active {
  color: black;
  text-decoration: none;
}
.wk_title {
  color: #ccff33;
}
.wk_table {
  width: 55vw;
  border: 4px solid #ccff33;
  color: black;
  background-color: #fff;
}
.wk_table > h3 {
  text-decoration: underline;
}
.wk_img {
  width: 35vw;
  height: 32vw;
  border: none;
}
.wk_direction {
  margin-bottom: 1.5vw;
}
.anotation {
  opacity: 70%;
}
@media (max-width: 959px) {
  .wk_table {
    width: 88vw;
    height: 100%;
    border-bottom: none;
  }
  .wk_img {
    width: 88vw;
    height: 22vw;
    padding: 0;
    border: 4px solid #ccff33;
    border-top: none;
  }
}
